## NASA Mars News

In [1]:
import os
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import time

In [2]:
executable_path = {'executable_path': '../../../Chromedriver/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
mars_news_url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(mars_news_url)

In [4]:
html = browser.html
mars_news_soup = bs(html, 'html.parser')

In [5]:
news_result = mars_news_soup.find('div', class_="list_text")

In [6]:
news_title = news_result.find('div', class_="content_title").find('a').text
news_teaser = news_result.find('div', class_='article_teaser_body').text

print('--------------------------------------------------------------')
print(f'Latest News Title: {news_title}')
print('--------------------------------------------------------------')
print(f'Teaser Paragraph: {news_teaser}')
print('--------------------------------------------------------------')

--------------------------------------------------------------
Latest News Title: NASA Establishes Board to Initially Review Mars Sample Return Plans
--------------------------------------------------------------
Teaser Paragraph: The board will assist with analysis of current plans and goals for one of the most difficult missions humanity has ever undertaken.
--------------------------------------------------------------

## JPL Mars Space Images - Featured Image

In [7]:
executable_path = {'executable_path': '../../../Chromedriver/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
jpl = 'https://www.jpl.nasa.gov'
browser.visit(jpl_url)

In [9]:
html = browser.html
jpl_soup = bs(html, 'html.parser')

In [10]:
featured_img_path = jpl_soup.find_all('a', class_="button fancybox")[0].get('data-fancybox-href').strip()
img_url = jpl  + featured_img_path
print(f'Featured Image: {img_url}')

Featured Image: https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA13911_ip.jpg

## Mars Facts

In [11]:
facts_url = 'https://space-facts.com/mars/'

In [12]:
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [13]:
facts_df = tables[0]
facts_df.columns=["Mars", "Measurements"]
facts_df

                   Mars                   Measurements
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
facts_html = facts_df.to_html()

In [15]:
facts_html.replace("\n","")
print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Measurements</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

## Mars Hemispheres

In [16]:
usgs_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
usgs = "https://astrogeology.usgs.gov"
browser.visit(usgs_url)

In [17]:
html = browser.html
usgs_soup = bs(html, 'html.parser')