## NASA Mars News

In [1]:
import os
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import time

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
mars_news_url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(mars_news_url)
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [4]:
html = browser.html
mars_news_soup = bs(html, 'html.parser')

In [5]:
news_result = mars_news_soup.find('div', class_="list_text")

In [6]:
news_title = news_result.find('div', class_="content_title").find('a').text
news_teaser = news_result.find('div', class_='article_teaser_body').text

print('--------------------------------------------------------------')
print(f'Latest News Title: {news_title}')
print('--------------------------------------------------------------')
print(f'Teaser Paragraph: {news_teaser}')
print('--------------------------------------------------------------')

--------------------------------------------------------------
Latest News Title: Follow NASA's Perseverance Rover in Real Time on Its Way to Mars
--------------------------------------------------------------
Teaser Paragraph: A crisply rendered web application can show you where the agency's Mars 2020 mission is right now as it makes its way to the Red Planet for a Feb. 18, 2021, landing.
--------------------------------------------------------------

## JPL Mars Space Images - Featured Image

In [7]:
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
jpl = 'https://www.jpl.nasa.gov'
browser.visit(jpl_url)
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

False

In [8]:
html = browser.html
jpl_soup = bs(html, 'html.parser')

In [9]:
featured_img_path = jpl_soup.find_all('a', class_="button fancybox")[0].get('data-fancybox-href').strip()
img_url = jpl  + featured_img_path
print(f'Featured Image: {img_url}')

Featured Image: https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16101_ip.jpg

## Mars Facts

In [10]:
facts_url = 'https://space-facts.com/mars/'

In [11]:
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [12]:
facts_df = tables[0]
facts_df.columns=["Mars", "Measurements"]
facts_df

                   Mars                   Measurements
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [13]:
facts_html = facts_df.to_html(index=False)

In [14]:
facts_html.replace("\n","")
print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Mars</th>
      <th>Measurements</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

## Mars Hemispheres

In [15]:
usgs_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
usgs = "https://astrogeology.usgs.gov"
browser.visit(usgs_url)
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

False

In [16]:
html = browser.html
usgs_soup = bs(html, 'html.parser')

In [17]:
usgs_results =  usgs_soup.find('div', class_="result-list")
usgs_item = usgs_results.find_all('div', class_="item")

In [18]:
hemisphere_data = []
for x in usgs_item:
    img_title = x.find('h3').text
    page_url = x.find('a')['href']
    img_link = usgs + page_url
    browser.visit(img_link)
    mars_img_html = browser.html
    mars_img_soup = bs(mars_img_html, 'html.parser')
    mars_img = mars_img_soup.find('img', class_="wide-image")['src']
    full_img = usgs + mars_img
    hemisphere_data.append({"Title": img_title, "IMG": full_img})

In [19]:
hemisphere_data

[{'Title': 'Cerberus Hemisphere Enhanced',
  'IMG': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'Title': 'Schiaparelli Hemisphere Enhanced',
  'IMG': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'Title': 'Syrtis Major Hemisphere Enhanced',
  'IMG': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'Title': 'Valles Marineris Hemisphere Enhanced',
  'IMG': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]